{% extends 'base.html' %}
{% block content %}

<div class="container">
  	<div class="panel panel-primary">
  		<div class="panel-heading">
    		<h1 class="panel-title">Ações</h1>
  		</div>
  		<div class="panel-body">
    		<div class="btn-group">
  				<ul class="nav nav-justified">
  					<li><a class="btn" href="/cadastros/"><h3>Cadastros gerais</h3></a></li>
            <li><a class="btn" href="/cadastros/"><h3> Eventos </h3></a></li>
  					<li><a class="btn" href="/documentos/"><h3>Documentos</h3></a></li>
  					<li><a class="btn" href="/cronograma/"><h3>Cronograma</h3></a></li>
  					<li><a class="btn" href="/relatorios/"><h3>Relatórios</h3></a></a></li>
  				</ul>
			</div>
  		</div>
	</div>

{% endblock %}

