{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  $('img').attr('width',50);
  $('img').attr('height',50);
{% endblock %}
{% block content %}

  <div class="container">
        <div class="btn-group btn-group-justified">
              <a href="/cadastros/" type="button" class="btn btn-success btn-lg"><img  src="{% static 'Bootstrap/img/records.png' %}" alt="Cadastros"/>
                <h3>Cadastros</h3>
              </a>
              <a href="cadastros/Evento/detalhes/" type="button" class="btn btn-success btn-lg"><img  src="{% static 'Bootstrap/img/event.png' %}" alt="Eventos"/>
              <h3>Novo evento</h3>
              </a>
              <a href="/documentos/" type="button" class="btn btn-success btn-lg"><img  src="{% static 'Bootstrap/img/document.png' %}" alt="documentos"/>
                <h3>Documentos</h3>
              </a>
              <a href="/cronograma/" type="button" class="btn btn-success btn-lg"><img  src="{% static 'Bootstrap/img/calendar.png' %}" alt="cronograma"/>
                <h3>Cronograma</h3>
              </a>
              <a href="/relatorios/" type="button" class="btn btn-success btn-lg"><img  src="{% static 'Bootstrap/img/report.png' %}" alt="relatórios"/>
                <h3>Relatórios</h3>
              </a>            
      </div>
</div>

{% endblock %}

