{% extends 'base.html' %}
{% block title %} contrato {% endblock %}
{% block content %}
<body>
<h2> CONTRATO DE LOCAÇÃO TEMPORÁRIA DO FOFÃO CADA DE RECEPÇÃO </h2> 

<p>LOCADORA:  {{ locadora.nome }}  RG: {{ locadora.rg }}  CPF:{{ locadora.cpf }} ENDEREÇO: {{ locacora.endereco }}, representante legal do {{ local.nome }} situado no endereço: {{ local.endereco }}
</p>
LOCATÁRIO :__    _____                                                             RG:                               CPF:_____________________                
ENDEREÇO:	_________________					___  CONTATOS: 	     __             ______                                                	
IMÓVEL OBJETO DESTA LOCAÇÃO: FOFÃO CASA DE RECEPÇÕES
ENDEREÇO: Rua Getúlio Vargas nº 271 Bairro Nordeste, Natal-RN.___________________¬¬¬-________________

VALOR TOTAL DO ALUGUEL R$             ,           (                                                                             )
VALOR DO ALUGUEL POR HORA R$            ,           (                                                                           ), ajustado neste ato de livre e espontânea vontade de ambas as partes contratantes.
PRAZO DESTA LOCAÇÃO, DATA:        /        /¬¬¬______                                                                                                                         Horário: Início___ :____  h e término ___:____ h
TIPO DE EVENTO:__________________________________________________________________________
LOCAL, DIA E FORMA DE PAGAMENTO
1ª Parcela de 50%(cinqüenta por cento) do valor acordado como sinal e garantia, no ato da assinatura deste contrato, que servirá também como cláusula penal, não sendo restituído por desistência do locatário.
2ª Parcela até um dia antes do evento com quitação ao valor do contrato sem prejuízo dos acréscimos decorrentes de qualquer dano causado ao estabelecimento ou seus pertences e mobiliários, assim como o estipulado na cláusula sexta do presente contrato durante o período locado.
CLÁUSULAS CONTRATUAIS
Os signatários deste instrumento devidamente qualificados, têm entre si justo e acertado o presente contrato de locação, que se regerá dentro dos parâmetros legais e pelas cláusulas e condições a seguir estipuladas e aceitas.
Primeira – o prazo desta locação é o constante do início deste contrato. No término indicado, o locatário se obriga a entregar o imóvel livre e desembaraçado de coisas e pessoas, no estado em que o recebeu, independentemente de notificação ou interpelação judicial, ressalvada a hipótese de prorrogação de locação, o que somente se fará por escrito.
Parágrafo único – caso não restitua o imóvel no fim do prazo contratual, pagará – enquanto estiver na posse do mesmo – o aluguel firmado inicialmente reajustado nos termos da cláusula décima – quinta, ate a efetiva desocupação do imóvel objeto instrumento ressalva a hipótese do locatário comprá-lo no curso deste prazo locatício, que o desobriga dos encargos locatícios somente após a devida transferência firmada em instrumento de compra e venda
Segunda – A falta de pagamento, nas épocas supra determinadas, dos aluguéis e encargos por si só constituirá o locatário em mora, independentemente de qualquer notificação, interpelação ou aviso extrajudicial.
Terceira – Todas as benfeitorias, excluídas naturalmente as instalações de natureza profissionais e móveis ficarão integradas ao imóvel, sem que delas tenha o locatário o direito de qualquer indenização ou pagamento. A introdução de tais benfeitorias dependera por escrito da locadora. 
Parágrafo único – quando do término da locação, o locatário restituirá o imóvel nas mesmas condições nas quais o recebeu agora, ficando desde já convencionado que se não o fizer, a locadora estará autorizada a mandar executar todos os reparos necessários, cobrando do locatário a importância gasta, como encargos de locação. 

Quarta – É expressamente vedado ao locatário sublocar o imóvel no todo ou em parte, cedê-lo a terceiros seja a título gratuito ou oneroso, transferir o contrato ou dar destinação diversa do uso da finalidade do previsto neste contrato, sem prévia anuência por escrito da locadora.
Quinta – No caso de desapropriação do imóvel objeto deste contrato, a locadora e seus administradores e/ou procurador ficarão exoncrados de toda e qualquer responsabilidade decorrente deste contrato, ressalvando-se ao locatário a faculdade de agir tão-somente contra a poder de expropriante.
Sexta – O locatário se obriga a satisfazer por sua conta exclusiva, a qualquer exigência de poderes públicos, em razão da atividade exercida no imóvel, assumindo toda quitação e responsabilidade por quaisquer infrações em que ocorrer a esse propósito, por inobservância das determinações das autoridades competentes, exemplo: a poluição sonora, conforme o locatário explicar as situações do ambiente.
Sétima – O locatário declara, neste ato, ter pleno conhecimento do que o resgate de recibos posteriores nem significa nem representa quitação de outras obrigações estipuladas no presente contrato, deixadas de cobrar nas épocas certas, principalmente os encargos fixados neste contrato.
Oitava – Se a locadora admitir, em benefício do locatário, quaisquer atrasos no pagamento do aluguel demais despesas que lhe incuba, ou no cumprimento de qualquer obrigação, contratual, essa tolerância não poderá ser considerada como alteração das condições deste contrato, pois se constituirá em ato de mera liberdade à locadora.
Nona - Tudo o que for devido em razão deste contrato, será cobrado em processo executivo ou em ação apropriada, no foro da situação do imóvel, com renúncia de qualquer outro, por mais privilegiado que seja, correndo por conta da parte vencida.
Décima – Na hipótese de ocorrer a prorrogação desta locação, o aluguel será reajustado de acordo com os incices permitidos pela locadora e administrador e locatário em acordo.
Décima primeira – É a parte integrante do presente contrato auto vistoria, assinado pela locadora e pelo locatário, com descrição das reais condições do imóvel.
Décima segunda – Os móveis, constantes no auto de vistoria, tudo vistoriado por ocasião do presente contrato, que compõem a presente locação estão discriminados em documento próprio assinado pela locadora e locatário com compromisso desde de restituí-los no estado que receber no início deste contrato.
E, por estarem justas contratadas, ciente e de acordo com toda cláusulas e condições do presente contrato de locação, as partes por si, seus herdeiros e sucessores, assinam este instrumento, para um só efeito na presença das testemunhas abaixo.

Natal/RN,       de                           de 201__ 
LOCADORA:                                                            __________                 RG:                               CPF:_____________________           
LOCATÁRIO :                                                    _________                         RG:                               CPF:_____________________    
1-TESTEMUNHA :                                    _________                                 RG:                               CPF:_____________________                                                      
2-TESTEMUNHA :                                 _________                                    RG:                               CPF:_____________________                                                      
                                                  


CONTRATO DE LOCAÇÃO TEMPORÁRIA DO                    FOFÃO CASA DE RECEPÇÃO
LOCADORA: Eliane Viana Bezerra de Lima    _                     RG:                               CPF:_____________________                                                                ENDEREÇO: Rua Getúlio Vargas nº 285 Bairro Nordeste, representante legal do FOFÃO CASA DE RECEPÇÕES situado no endereço: Rua Getúlio Vargas nº 271 Bairro Nordeste, Natal-RN._______________________________________
LOCATÁRIO :__    ___                                                          ________     RG:                               CPF:_____________________                
ENDEREÇO:	_________________________			___  CONTATOS: 	       _           ______                                                	
PRAZO DESTA LOCAÇÃO, DATA:        /        /¬¬¬______                                                                                                                         Horário: Início___ :____  h e término ___:____ h
TIPO DE EVENTO:__________________________________________________________________________________

ACORDOS E NORMAS DO FOFÃO CASA DE RECEPÇÃO

Objetos inclusos no contrato presente:
_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

Observações: Objetos de auto consumo de energia como brinquedos eletrônicos, datas shows, projetores, som de grande porte e outros, é cobrada uma taxa de energia para cada um desses objetos que for utilizados. A locadora tem a plena responsabilidade de entregar o ambiente limpo e ao término do evento o locatário tem o que entregar o ambiente a locadora no mesmo estado que recebeu, ou ao caso o locatário não cumpra sua obrigação a locadora tem direito de mandar fazer o serviço e cobrar ao locatário custos e encargos da revisão do ambiente, ou pode haver um acordo entre ambos.

Observação e acordos extras entre locadora e locatário:
_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


E, por estarem justas contratadas, ciente e de acordo com toda cláusulas e condições do presente contrato de locação, as partes por si, seus herdeiros e sucessores, assinam este instrumento, para um só efeito na presença das testemunhas abaixo.
Natal/RN,       de               _           de 201__ 
LOCADORA:                                                            __________                 RG:                               CPF:_____________________           
LOCATÁRIO :                                                    _________                         RG:                               CPF:_____________________    
1-TESTEMUNHA :                                    _________                                 RG:                               CPF:_____________________                                                      
2-TESTEMUNHA :                                 _________                                    RG:                               CPF:_____________________                                                      

{% endblock %}
